# These default owners for everything
*   @do87

# Costs integration owners
pkg/services/costs/* @troublete

# Object Storage Credentials group
client/pkg/services/object-storage/credentials-group/* @johannes-riecken @SkyFox277