# These default owners for everything
*   @do87

# Costs integration owners
pkg/api/v1/costs/* @troublete

# Object Storage Credentials group
client/pkg/api/v1/object-storage/credentials-group/* johannes.riecken1@mail.schwarz johann.friesen@camao.one