package: iaas
output: ../../../../pkg/services/iaas-api/v1alpha/iaas.go
generate:
  models: true
  client: true
output-options:
  custom-doer:
    enabled: true
    import: contracts "github.com/SchwarzIT/community-stackit-go-client/pkg/contracts"
    name: "contracts.BaseClientInterface"
  split-by-tags:
    verbose: false
    enabled: true
tidy:
  verbose: false
  functions:
    - replace: Id
      with: ID
      all: true
  params:
    - replace: Id
      with: ID
      all: true
  schemas:
    - replace: Id
      with: ID
      all: true
