package: resourcemanagement
output: ../../../../pkg/services/resource-management/v2.0/management.go
generate:
  models: true
  client: true
output-options:
  custom-doer:
    enabled: true
    import: contracts "github.com/SchwarzIT/community-stackit-go-client/internal/contracts"
    name: "contracts.ClientInterface"
    generics: "contracts.ClientFlowConfig"
  split-by-tags:
    verbose: false
    enabled: false
  extend-response:
  - field: Error
    type: error
    description: "Aggregated error"
    apply-to: ["*"]
    imports: ["github.com/SchwarzIT/community-stackit-go-client/pkg/validate"]
    set: "validate.DefaultResponseErrorHandler(rsp)"
  copy:
  - from: include/service.go
    to: service.go
    tidy: 
    - replace: "resourcemanagement."
      all: true
  - from: include/validate.go
    to: validate.go
    tidy: 
    - replace: "resourcemanagement."
      all: true
  - from: include/wait.go
    to: wait.go
    tidy: 
    - replace: "resourcemanagement."
      all: true
tidy:
  verbose: false
  functions:
  - replace: Id
    with: ID
    all: true
  - replace: GetAllProjects
    with: List
    prefix: true
  - replace: PostProjects
    with: Create
    prefix: true
  - replace: DeleteProjectsContainerID
    with: Delete
    prefix: true
  - replace: PatchProjectsContainerID
    with: Update
    prefix: true
  - replace: GetProjectsContainerID
    with: Get
    prefix: true
  params:
  - replace: Id
    with: ID
    all: true
  schemas:
  - replace: Id
    with: ID
    all: true